body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: flex-start;
  height: 450px;
  width: 450px;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.cell {
  display: flex;
  background-color: rgb(173,216,230);
  align-items: center;
  justify-content: center;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

button {
  margin: 30px;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
}